* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fffaf5;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.primary-btn {
  background: #ff6f3c;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 600;
}

.primary-btn:hover {
  background: #ff9a3c;
}
